body {
  font-family: "Playfair Display", sans-serif;
  font-size: 1em;
  margin-left: 1em;
}

header {
  font-size: 2em;
  font-weight: bold;
}

nav {
  margin: 2em 0em;
}

.nav-link {
  margin-right: 0.5em;
  text-decoration: none;
  color: inherit;
  border-bottom: 7px solid black;
  font-size: 1.2em;
}
.nav-link:hover {
  border-bottom: 7px solid red;
}

main {
  margin-top: 1em;
}

.post-area {
  width: 75%;
}

.post-title {
  font-size: 1.2em;
  font-weight: bold;
}

.editor-area {
  display: inline-block;
}

.editor {
  width: 50%;
}
